@import "lib/variables";

.intro_1 {
  padding: 0 2em;
  min-height: 100vh;
  display: flex;
  background: $greyback;
  display: flex;
  flex-flow: column;
  padding-bottom: 5em;

  .intro_h1 {
    font-family: "Roboto Mono", "Helvetica Neue", sans-serif;
    display: block;
    font-weight: 400;
    font-size: 105px;
    color: $darkcolor;
    letter-spacing: 1px;
    margin-bottom: 2em;
  }

  .intro_p {
    padding-left: 6em;
    max-width: 700px;
    margin-bottom: 2.5em;
  }
}

.container2 {
  justify-content: left;
  align-items: left;
  overflow-x: scroll;

  .container2::-webkit-scrollbar {
    display: none;
  }

  .causas {
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: black;

    .listaCausas {
      display: flex;
      flex-flow: row;
      list-style: none;
      font-size: 2em;
      color: white;
      text-align: center;

      .causa {
        padding: 1em 3em 1em 0em;
      }
    }
  }
}


  .container3{
    padding: 20em 0 0 2em;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background: $greyback;
  
    h1 {
      font-family: "Roboto Mono", "Helvetica Neue", sans-serif;
      display: block;
      font-weight: 500;
      font-size: 105px;
      color: $darkcolor;
      letter-spacing: 1px;
      text-align: left;
    }
    .mundoimg{
      width: 200px;
      height: 200px;
      margin-left: 4em;
      align-self: center;
    }
    .subtitulo{
      margin-bottom: 2em;
    }
  }  

  .container4{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 3em;
    color: white;
    background: linear-gradient(180deg, rgba(196,196,196,1) 0%, rgba(10,28,188,1) 100%);

    .nombretrastorno{
      font-size: 36px;
      padding: 0;
      margin: 0;
    }

    .trastorno{
      text-align: center;
      display: flex;
      flex-flow: row;
      align-items: center;
      padding: 0 0 4em 0;

      .cifra{
        font-size: 288px;
        padding: 0;
        font-weight: 400;
        line-height: 330px;
        
      }
      .datoTrastorno{
        width: 50px;
        text-align: left;
        padding-left: 2em;
      }


    }
  }

  .container5{
    padding: 8em 0em 8em 3em;
    background-color: rgba(10, 28, 188, 1);
    .oms{
      color: white;
      font-size: 36px;
      font-weight: 400;
      opacity: 0;
      -webkit-transition: all 1s ease-in-out;
         -moz-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
           -o-transition: all 1s ease-in-out;
              transition: all 1s ease-in-out;
    }
    .oms.visible {
      opacity: 1;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
           -o-transform: none;
              transform: none;
    }
  }

  .container6{
    background: linear-gradient(180deg, rgba(10,28,188,1) 0%, rgba(143,240,255,1) 100%);

  }


